<% layout("layouts/boilerplate") %>
<body>
<div id="filters">
    <a href="/users/profile/posts" class="listing-link sliderr">
        <div class="filter nav-item">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Posts</p>
        </div>
    </a>
    <a href="/users/profile/comments" class=" listing-link sliderr">
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Comments</p>
        </div>
    </a>
</div>
<div class="card">
    <div class="card-body">
      <p class="card-title"> <h2>Username : <%=username%> </h2> </p>
      <p class="card-text"><h2>Password : xxxxx</h2></p>
    </div>
  </div>

<div class="profile">
        <!-- <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"> -->
            <% for (let list of allData){ %>
                <a href="/listings/<%=list._id%>" class=" listing-link "style="max-width: 100%;">
                    <div class="card mb-3 " style="max-width: 100%; max-height: 200px; padding: 10px; border-radius: 25px; border: 2px solid pink;">
                        <div class="" style="height: 150px; width: 100%;     display: flex;">
                          <div class="col-md-4 pic-media" style="height: 150px; width: 185px;">
                            <img src="<%=list.image.url %>" style="height: 150px;" class="img-fluid rounded-start" alt="https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" style="height : 20rem;">
                          </div>
                          <div class="col-md-8 text-media" style="overflow: hidden;">
                            <div class="card-body">
                              <h5 class="card-title"><%=list.owner.username%></h5>
                              <p class="card-text"><%=list.description%></p>
                              <p class="card-text"><small class="text-body-secondary"><%=list.description%></small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
            <% }; %>
</div>  
</body> 
